[user]
	name = Muntasir Rahman
	email = shakil_muntasir@hotmail.com

[init]
	defaultBranch = main

[core]
	pager = less --LONG-PROMPT --tabs=3 --quit-if-one-screen --tilde --jump-target=3 --ignore-case --status-column
